.button__load {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 50px;
    font-size: 16px;
    font-weight: 600;
    border: solid 1px;
    border-radius: 5px;

    margin-left: 20px;

    cursor: pointer;

    &:hover,
    &:focus {
        background-color: rgb(196, 196, 193);
        box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, 0.5);
    }
}

/* .icon-search {
    margin-right: 10px;
} */